body {
  font-family: Helvetica;
}

.price {
  color: blue;
  font-weight: bold;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}

h1 {
  background-image: url("../../DasmotosArtsAndCrafts/resources/pattern.jpeg");
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
font-size: 32px;
font-weight: bold;
color: white;
}
